*.env
.env
careercompass-frontend/.env
careercompass-backend/.env
careercompass-backend/seeds
careercompass-backend/node_modules
careercompass-frontend/node_modules
node_modules/
client/node_modules/
server/node_modules/
node_modules
dist
build