@import "tailwindcss";
/* @tailwind utilities; */
.grid-bg {
  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size: 40px 40px;
}
/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(37, 99, 235, 0.4); /* blue */
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
