@import "tailwindcss";
/* @tailwind utilities; */
.grid-bg {
  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size: 40px 40px;
  
}

.card-color{
  background: linear-gradient(to bottom right, #111827, #1f2937);
  /* background-color: rgb(230, 233, 235);
  color:black; */
}
.text-color{
 color:white;
 /* color:black */
}
.subText-color{
  color:grey;
}
.bg-color{
background-color: #070917;
/* background-color: white; */
}
.card-border{
  
border:1px solid  rgba(37, 36, 36, 0.4);

  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}


/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(37, 99, 235, 0.4); /* blue */
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
